.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.app-header {
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-header a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
}

.app-header a:hover {
  color: #ccc;
}

.app-main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 50px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
}

button:hover {
  background-color: #2980b9;
}

.subject-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subject-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.content {
  display: flex;
  width: 100%;
}

.left-side {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  max-width: 40%; /* Adjusted to make the left side narrower */
}

.right-side {
  flex: 1;
  padding: 20px;
  max-width: 80%; /* Adjusted to make the right side wider */
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.search-box input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
}

.search-box .button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.legend {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
