.graph-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.graph-container {
  width: 100%;
  height: 100%;
  min-height: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.tooltip {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.legend-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.legend-color {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
}

.legend-text {
  font-size: 0.9rem;
}

.search-terms {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.search-term {
  background-color: #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.search-term button {
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.search-terms input {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
